services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: epitrello
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://postgres:postgres@db:5432/epitrello
    ports:
      - "3000:3000"
    depends_on:
      - db

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: