version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: epitrello
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - epitrello_net

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - epitrello_net

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    environment:
      NODE_ENV: production
      REDIS_URL: redis://redis:6379
      FRONTEND_URLS: "https://enzolobatocoutinho.fr,https://www.enzolobatocoutinho.fr"
    ports:
      - "4000:4000"
    depends_on:
      - redis
    restart: unless-stopped
    networks:
      - epitrello_net

  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://postgres:postgres@db:5432/epitrello
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - epitrello_net

volumes:
  postgres_data:

networks:
  epitrello_net:
    driver: bridge
