version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: epitrello
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app
    environment:
      NODE_ENV: development
      DATABASE_URL: postgres://postgres:postgres@db:5432/epitrello
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  postgres_data: